XMLParsers/params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.yazatebe.org.ua"
    targetNamespace="http://www.yazatebe.org.ua" elementFormDefault="qualified"> 

    <xs:complexType name="Params">
        <xs:sequence>
            <xs:element name="Length" type="xs:int"/>
            <xs:element name="Width" type="xs:int"/>
            <xs:element name="Height" type="xs:int"/>
                       
        </xs:sequence>      
        
    </xs:complexType> 

</xs:schema>
